#!ipxe

##################################################
# Rodhouse Datacenter - Simplified Main Menu
# Created by Ansible - rhdc.network.netbootxyz role
##################################################
# This is an optional simplified main menu showing only
# RHDC-relevant operating systems and options
##################################################

:custom_main_menu
menu {{ netbootxyz_site_name }} - PXE Boot Menu
item --gap Primary Operating Systems:
item rhel            Red Hat Enterprise Linux
item fedora          Fedora Server / Workstation
item coreos          Fedora CoreOS (OpenShift)
item windows         Windows Server / Desktop
item --gap Custom Deployments:
{% if netbootxyz_enable_openshift_menu %}
item rhdc_openshift  OpenShift / CoreOS (RHDC Custom)
{% endif %}
{% if netbootxyz_enable_arm_menu %}
item rhdc_arm        ARM / Raspberry Pi (RHDC Custom)
{% endif %}
item --gap Utilities:
item live_os         Live Operating Systems
item diagnostics     Diagnostics and Recovery Tools
item local_boot      Boot from local disk
item --gap Configuration:
item settings        netboot.xyz Settings
item shell           iPXE Shell
item --gap
item exit            Exit and reboot
choose target && goto ${target}

:rhel
# Chain to Red Hat Enterprise Linux menu
chain rhel.ipxe

:fedora
# Chain to Fedora menu
chain fedora.ipxe

:coreos
# Chain to Fedora CoreOS menu
chain coreos.ipxe

:windows
# Chain to Windows menu
chain windows.ipxe

{% if netbootxyz_enable_openshift_menu %}
:rhdc_openshift
# Load RHDC custom OpenShift menu
chain rhdc-openshift.ipxe
{% endif %}

{% if netbootxyz_enable_arm_menu %}
:rhdc_arm
# Load RHDC custom ARM menu
chain rhdc-arm.ipxe
{% endif %}

:live_os
# Chain to live OS submenu
chain live.ipxe

:diagnostics
# Chain to diagnostics and recovery tools menu
chain utils.ipxe

:local_boot
# Boot from local disk
echo Booting from local disk...
exit

:settings
# Chain to netboot.xyz settings
chain config.ipxe

:shell
# Drop to iPXE shell
echo Entering iPXE shell...
echo Type 'exit' to return to menu
shell

:exit
# Exit and reboot
echo Rebooting system...
reboot
