[Unit]
Description=RHDC Kea DHCP Server
Documentation=https://github.com/flyemsafe/rodhouse-datacenter/issues/320
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutStartSec=300

ExecStartPre=-/usr/bin/podman rm -f {{ kea_container_name }}
ExecStart=/usr/bin/podman run \
  --rm \
  --name {{ kea_container_name }} \
  --network host \
  --cap-add=NET_ADMIN \
  --cap-add=NET_RAW \
  --cap-add=NET_BIND_SERVICE \
  -v {{ kea_config_dir }}/kea-dhcp4.json:/etc/kea/kea-dhcp4.conf:ro \
  -v {{ kea_leases_dir }}:/var/lib/kea:z \
  -e TZ={{ kea_timezone }} \
  localhost/{{ kea_image_name }}:{{ kea_image_tag }}

ExecStop=/usr/bin/podman stop -t 10 {{ kea_container_name }}

[Install]
WantedBy=multi-user.target
